Pubs/Connected Services/WCFPubs/ServicePubs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52470/ServicePubs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" />
  <xs:element name="ValidaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" minOccurs="0" name="ValidaUsuarioResult" nillable="true" type="q1:ArrayOfDetalleUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAutores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAutoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" minOccurs="0" name="ObtenerAutoresResult" nillable="true" type="q2:ArrayOfDetalleVistaAutores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAutor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrato" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAutorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaAutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAutor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrato" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaAutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaAutorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTitluos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTitluosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" minOccurs="0" name="ObtenerTitluosResult" nillable="true" type="q3:ArrayOfDetalleTitulos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>