Pubs/Connected Services/WCFPubs/ServicePubs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetalleUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleUsuario" nillable="true" type="tns:DetalleUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleUsuario" nillable="true" type="tns:ArrayOfDetalleUsuario" />
  <xs:complexType name="DetalleUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleUsuario" nillable="true" type="tns:DetalleUsuario" />
</xs:schema>