Pubs/Connected Services/WCFPubs/ServicePubs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetalleUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleUsuario" nillable="true" type="tns:DetalleUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleUsuario" nillable="true" type="tns:ArrayOfDetalleUsuario" />
  <xs:complexType name="DetalleUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleUsuario" nillable="true" type="tns:DetalleUsuario" />
  <xs:complexType name="ArrayOfDetalleVistaAutores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleVistaAutores" nillable="true" type="tns:DetalleVistaAutores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleVistaAutores" nillable="true" type="tns:ArrayOfDetalleVistaAutores" />
  <xs:complexType name="DetalleVistaAutores">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleVistaAutores" nillable="true" type="tns:DetalleVistaAutores" />
  <xs:complexType name="ArrayOfDetalleTitulos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleTitulos" nillable="true" type="tns:DetalleTitulos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleTitulos" nillable="true" type="tns:ArrayOfDetalleTitulos" />
  <xs:complexType name="DetalleTitulos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anticipo" type="xs:double" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEditorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Regalias" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoLibro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VentasAnio" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleTitulos" nillable="true" type="tns:DetalleTitulos" />
</xs:schema>