Pubs/Connected Services/WCFPubs/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52470/ServicePubs.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52470/ServicePubs.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52470/ServicePubs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSPubs.Fachada" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePubs_ValidaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicePubs_ValidaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePubs_ObtenerAutores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAutores" />
  </wsdl:message>
  <wsdl:message name="IServicePubs_ObtenerAutores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAutoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePubs_InsertarAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAutor" />
  </wsdl:message>
  <wsdl:message name="IServicePubs_InsertarAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePubs">
    <wsdl:operation name="ValidaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePubs/ValidaUsuario" message="tns:IServicePubs_ValidaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePubs/ValidaUsuarioResponse" message="tns:IServicePubs_ValidaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePubs/ObtenerAutores" message="tns:IServicePubs_ObtenerAutores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePubs/ObtenerAutoresResponse" message="tns:IServicePubs_ObtenerAutores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePubs/InsertarAutor" message="tns:IServicePubs_InsertarAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePubs/InsertarAutorResponse" message="tns:IServicePubs_InsertarAutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePubs" type="tns:IServicePubs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicePubs/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutores">
      <soap:operation soapAction="http://tempuri.org/IServicePubs/ObtenerAutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAutor">
      <soap:operation soapAction="http://tempuri.org/IServicePubs/InsertarAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServicePubs" binding="tns:BasicHttpBinding_IServicePubs">
      <soap:address location="http://localhost:52470/ServicePubs.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>